

.list {
    background: #7aee2d;
    height: 75px;
    display: flex;
    justify-content: space-between;
    padding: 0.2rem calc((100vw - 1000px) / 2);
    z-index: 12;
    cursor: pointer;
    flex: 0 1 auto;
}

.list li {
    color: #808080;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
}
.list li a{
    text-decoration: none;
}

.list li :active {
    color: #000000;
}

.list ul {
    display: flex;
    align-items: center;
    margin-right: -24px;

    /* Second Nav */
    /* margin-right: 24px; */
    /* Third Nav */
    /* width: 100vw;
  white-space: nowrap; */
    /* @media screen and (max-width: 768px) { // Commented after copying
        display: none;
    } */
}

.last {
    display: flex;
    align-items: center;
    margin-right: 24px;

    /* Third Nav */
    /* justify-content: flex-end;
  width: 100vw; */
    /* @media screen and (max-width: 768px) { // Comented after copying
        display: none;
    } */
}

.last-btn {
    border-radius: 4px;
    background: #808080;
    padding: 10px 22px;
    color: #000000;
    outline: none;
    border: none;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    /* Second Nav */
    margin-left: 24px;
    background: url('https://images.unsplash.com/photo-1504196606672-aef5c9cefc92?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80');
    background-size: cover;
    cursor: pointer !important;
}

.last-btn :hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #808080;
    cursor: pointer !important;
}

/* Styling ref : https://www.geeksforgeeks.org/create-a-responsive-navbar-using-reactjs/ */