html, body, #root {
    height: 100%;
    width: 100%;
    background-color: #f1f1ef;
}
* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

}